{% extends 'profile/_base.html' %}
{% load i18n custom_tags static %}

{% block title %}
{{Title}}    
{% endblock %}

<!-- Head block -->
 {% block head %}

 {% endblock %}

{% block body %}
 <div class="container mx-auto">
     <!-- Profile card -->
     <div class="max-w-sm rounded-lg shadow bg-gray-100 dark:bg-gray-900 border-gray-200 dark:border-gray-700 h-full">
         <div class="flex flex-col space-y-12 items-center pb-10 pt-10">
             <div class="flex flex-col items-center">
                 {% if profile.photo %}
                 <img class="w-48 h-48 mb-3 rounded-full object-cover shadow-lg"
                 src="{{ profile.photo.url }}" alt="{{profile.first_name}} profile">
                 {% else %}
                 <img class="w-48 h-48 mb-3 rounded-full shadow-lg"
                 src="https://flowbite.com/docs/images/people/profile-picture-3.jpg" alt="default user photo">
                 {% endif %}
                 <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">{% if profile.user.first_name and profile.user.last_name %}{{ profile.user.first_name }} {{ profile.user.last_name }}{% else %}{{ profile.user.username|default:'User' }}{% endif %}</h5>
                 <span class="text-sm text-gray-500 dark:text-gray-400">{{ profile.occupation|default:"None" }}</span>
                 <div class="flex mt-4 md:mt-6">
                     
                 </div>
             </div>
             <ol class="w-full mt-2 md:mt-12 p-2 md:p-4">
                 {% for contact in contact_profiles %}
                     <li class="mb-2 border md:border-gray-300 dark:md:border-gray-600 md:hover:bg-blue-200 dark:md:hover:bg-gray-700/30 rounded-lg p-2 duration-300">
                         <a href="{{ contact.profile_url }}" target="_blank" class="flex flex-row justify-between items-center">
                             <div class="flex flex-row justify-start items-center">
                                 <img class="w-8 h-8 rounded-full me-2" src="https://www.google.com/s2/favicons?sz=64&domain_url={{ contact.platform.url }}" alt="{{ contact.platform.name }}">
                                 <span class="text-gray-900 dark:text-white">{{ contact.platform.name }}</span>
                             </div>
                             <i class="bi bi-chevron-right text-gray-700 dark:text-gray-400"></i>
                         </a>
                     </li>
                 {% empty %}
                     <p class="text-sm text-gray-500 dark:text-gray-400">No contacts available.</p>
                 {% endfor %}
             </ol>
         </div>
     </div>
    
 </div>
{% endblock body %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/pages/prof-index.js' %}"></script>
<script>
anime({
  targets: '.css-selector-demo .el',
  translateX: 250
});

$0.remove();
const data = {
  removed: !$0.isConnected,
  selector: '.bg-gray-900\\/50.dark\\:bg-gray-900\\/80.fixed.inset-0.z-40',
};
</script>
{% endblock %}
    