{% extends 'profile/_base.html' %}
{% load i18n custom_tags static %}

{% block title %}
{{Title}}    
{% endblock %}

<!-- Head block -->
 {% block head %}

 {% endblock %}

{% block body %}
 <div class="container mx-auto">
     <!-- Profile card -->
     <div class="max-w-sm rounded-lg shadow bg-gray-100 dark:bg-gray-900 border-gray-200 dark:border-gray-700 h-full">
         <div class="flex flex-col space-y-12 items-center pb-4 md:pb-6 pt-10">
             <div class="flex flex-col items-center">
                 {% if profile.photo %}
                 <img class="w-48 h-48 mb-3 rounded-full object-cover shadow-lg"
                 src="{{ profile.photo.url }}" alt="{{profile.first_name}} profile">
                 {% else %}
                 <img class="w-48 h-48 mb-3 rounded-full shadow-lg"
                 src="https://flowbite.com/docs/images/people/profile-picture-3.jpg" alt="default user photo">
                 {% endif %}
                 <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">{% if profile.user.first_name and profile.user.last_name %}{{ profile.user.first_name }} {{ profile.user.last_name }}{% else %}{{ profile.user.username|default:'User' }}{% endif %}</h5>
                 <span class="text-sm text-gray-500 dark:text-gray-400">{{ profile.occupation|default:"None" }}</span>
             </div>
             <ol class="w-full mt-2 md:mt-8 p-4 md:p-8">
                 {% for contact in contact_profiles %}
                     <li class="mb-2 border border-solid border-gray-700/30 dark:border-gray-400/30 md:hover:bg-blue-200 dark:md:hover:bg-gray-700/30 rounded-lg p-2 duration-300">
                        <div class="flex justify-between items-center">
                            {% if contact.platform.icon %}
                                <a href="{% if contact.platform.name == 'Telephone' %}tel:{{ contact.username }}{% else %}mailto:{{ contact.username }}{% endif %}" class="w-8 h-8 flex items-center gap-2">
                                    <div class="w-8 h-8 p-2 rounded-lg bg-gray-200 dark:bg-gray-800 flex items-center justify-center">
                                        <i class="bi bi-{{ contact.platform.icon }} text-xl text-gray-700 dark:text-gray-400"></i>
                                    </div>
                                    <span class="text-gray-900 dark:text-white">{% if contact.platform.name == 'Telephone' %}{{ contact.username }}{% else %}{{ contact.username }}{% endif %}</span>
                                </a>

                            {% else %}
                            <a href="{{ contact.profile_url }}" target="_blank" class="flex items-center gap-2">
                                <img class="w-8 h-8 rounded-full" src="https://www.google.com/s2/favicons?sz=64&domain_url={{ contact.platform.url }}" alt="{{ contact.platform.name }}">
                                <span class="text-gray-900 dark:text-white">{{ contact.platform.name }}</span>
                            </a>
                            {% endif %}
                        </div>
                     </li>
                 {% empty %}
                     <p class="text-sm text-gray-500 dark:text-gray-400">No contacts available.</p>
                 {% endfor %}
             </ol>
         </div>
     </div>
    
 </div>
{% endblock body %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/pages/prof-index.js' %}"></script>
{% endblock %}
    