{% extends '_base.html' %}
{% load ad_tags %}
{% block title %}{{page_title|default:'No title'}}{% endblock %}

{% block content %}
<div class="container mx-auto relative px-2 md:px-0">
    <div class="grid grid-flow-row grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-4 mx-auto place-content-rounded bg-gray-50 dark:bg-gray-800">
        {% get_ads_grouped_by_type as ads_by_type %}
        <div class="col-start-1 col-end-3 w-full h-full dark:bg-gray-900 items-center rounded-2xl md:p-6">
            <div id="default-carousel" class="relative w-full" data-carousel="slide">
                <!-- Carousel wrapper -->
                <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
                    {% if ads_by_type %}
                        {% for ad_type, ads in ads_by_type.items %}
                            {% for ad in ads|slice:":5" %}
                            <div class="{% if forloop.first and forloop.parentloop.first %}block{% else %}hidden{% endif %} duration-700 ease-in-out h-full w-full" data-carousel-item>
                                <div class="relative w-full h-full">
                                    <img src="{{ ad.poster.url }}"
                                        class="object-cover w-full h-full"
                                        alt="{{ ad.campaign_title }}">
                                </div>
                            </div>
                            {% empty %}
                                <div class="block duration-700 ease-in-out" data-carousel-item>
                                    <img src="https://via.placeholder.com/1600x600?text=No+Ads+Available"
                                        class="absolute object-cover block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                                        alt="No ads available">
                                </div>

                            {% endfor %}
                        {% endfor %}
                    {% else %}
                        <div class="block duration-700 ease-in-out" data-carousel-item>
                            <img src="https://via.placeholder.com/1600x600?text=No+Ads+Available"
                                class="absolute object-cover block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                                alt="No ads available">
                        </div>
                    {% endif %}
                </div>

                <!-- Slider indicators -->
                <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
                    {% if ads_by_type %}
                        {% for ad_type, ads in ads_by_type.items %}
                            {% for ad in ads|slice:":5" %}
                                <button type="button" class="w-3 h-3 rounded-full" aria-label="Slide {{ forloop.counter }}"
                                        data-carousel-slide-to="{{ forloop.counter0 }}"
                                        {% if forloop.first and forloop.parentloop.first %}aria-current="true"{% endif %}></button>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                </div>

                <!-- Slider controls -->
                <button type="button"
                    class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                    data-carousel-prev>
                    <span
                        class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                        <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" d="M5 1 1 5l4 4" />
                        </svg>
                        <span class="sr-only">Previous</span>
                    </span>
                </button>
                <button type="button"
                    class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                    data-carousel-next>
                    <span
                        class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                        <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" d="m1 9 4-4-4-4" />
                        </svg>
                        <span class="sr-only">Next</span>
                    </span>
                </button>
            </div>
            <h3 class="text-2xl pt-2 text-slate-700 dark:text-slate-400">SUPPORTED US</h3>
        </div>

        <!-- Right side -->
        <div class="cols-1 md:col-span-2 ease-in">
            <div class="flex flex-col md:flex-row gap-4 justify-center w-full">
                <!-- END of Carousel -->
                <div class="grid grid-cols-4 md:grid-cols-2 gap-4 mt-4 md:mt-0 p-4 md:p-0 rounded-lg bg-gray-400 dark:bg-gray-900 md:bg-transparent max-w-screen-sm">
                    <div class="">
                        <img class="h-full w-full object-cover rounded-lg"
                            src="https://th.bing.com/th/id/OIP.77fJ1G2gslPUXbKo1pIsjwHaHa?rs=1&pid=ImgDetMain" alt="">
                    </div>
                    <div class="">
                        <img class="h-full w-full object-cover rounded-lg"
                            src="https://th.bing.com/th/id/OIP.O5Z9hSjIsko_Q_Kpmr1bzAHaHa?rs=1&pid=ImgDetMain" alt="">
                    </div>
                    <div class="">
                        <img class="h-full w-full object-cover rounded-lg"
                            src="https://i.namu.wiki/i/AMk1eXIzzjYQwO3lBV61vl7c819FzRa89v0MlUZRrlmkPREt0rSJxD7kd2TM3N9M1-jlqRLppXI2fo40tSpVxw.webp" alt="">
                    </div>
                    <div class="">
                        <img class="h-full w-full object-cover rounded-lg"
                            src="https://www.midvalleysouthkey.com/img/tenant/logo19Jul201911325123Oct2019225417.jpg" alt="">
                    </div>
                </div>                

                <!-- Recent scholarship -->
                <div class="relative max-w-sm min-w-[220px] ease-in p-4 mt-4 md:mt-0 lg:block bg-blue-300 border border-gray-200 rounded-lg shadow md:p-4 dark:bg-gray-800 dark:border-gray-700 flex flex-col">
                    <div class="flex-1 flex flex-row justify-between items-center text-gray-900 dark:text-white mb-4">
                        <div class="text-sm font-simebold ">
                            <i class="bi bi-clock me-2"></i><span>Recent Scholarship</span>
                        </div>
                        <a class=" rounded-lg py-1 px-2" href="#" title="View more">
                            <i class="bi bi-chevron-right"></i>
                        </a>
                    </div>

                    <ol class="flex flex-col w-full gap-2">
                        {% if school_data %}
                            {% for s in school_data|slice:":10" %}
                            <li class="flex flex-row items-center px-4 py-3 text-base font-normal justify-between text-gray-50 rounded-lg bg-gradient-to-r from-cyan-500 to-blue-500 dark:from-cyan-500/50 dark:to-blue-500/50">
                                <a href="#">
                                    <div>
                                        {% if request.LANGUAGE_CODE == 'en' %}
                                            {{ s.name }}
                                        {% else %}
                                            {{ s.local_name }}
                                        {% endif %}
                                    </div>
                                <a>
                            </li>
                            {% empty %}{% endfor %}
                        {% else %}
                        {% endif %}
                    </ol>
                </div>
                <!-- End Right-->
            </div>
        </div>
    </div>
    <hr class="my-6 md:my-20 hx bg-gray-200 border-0 dark:bg-gray-800">
    <!-- Scholarship Card Section -->
     <!-- Comment out 
    <section class="mt-4 p-1 md:p-0 md:mt-12 bg-white py-2 antialiased dark:bg-gray-900 md:py-16  rounded-2xl border border-gray-400 dark:border-gray-700 shadow-lg" id="section-scholar-card-section w-full">
        <div class="flex flex-col md:flex-row w-full gap-4 md:gap-12 px-6 pt-6 pb-4 md:px-12 md:p-12 order-2 md:order-1">
            <div class="w-full relative md:w-5/12 order-2 md:order-1 mt-6 md:mt-0">
                <div class="w-full h-auto items-start">
                    <h3 class="mb-4 text-4xl font-extrabold leading-none tracking-tight dark:text-white md:max-w-2xl md:text-5xl xl:text-6xl">Explore the scholarship for your dream major</h3>
                    <p class="mb-4 max-w-2xl text-gray-500 dark:text-gray-400 md:mb-12 md:text-lg lg:mb-5 lg:text-xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo delectus culpa distinctio quam repellendus odio nihil, ducimus dignissimos quaerat fugit ea, commodi asperiores. Ut quasi distinctio fuga reprehenderit temporibus dolorum!</p>
                </div>
                <div class="w-full text-start mt-6">
                    <button title="View all scholarship" class="inline-block rounded-lg bg-primary-700 px-6 py-3.5 text-center font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">View All<i class="bi bi-arrow-right ms-2 text-lg"></i></button>
                </div>
            </div>
            <div class="w-full md:w-9/12 order-1 md:order-2">
                <div class="grid grid-cols-2 md:grid-cols-3 gap-4 md:gap-6 ease-in duration-300">
                    <div class="h-56 bg-gray-200 dark:bg-gray-700 p-4 rounded-xl">
                        <div class="flex flex-col h-full items-center">
                            <div class="h-1/2">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Flag_of_Cambodia.svg/1920px-Flag_of_Cambodia.svg.png" 
                                class="w-full aspect-video rounded-md hover:brightness-110 hover:drop-shadow-md dark:hover:grayscale-0 dark:grayscale duration-150" alt="Cambodia scholarship" />
                            </div>
                            <div class="h-1/2">
                                <div class="flex flex-col justify-center items-center">
                                    <div class="text-gray-700 dark:text-gray-300 mt-4 font-medium text-lg">Cambodia</div>
                                    <div class="text-gray-700 dark:text-gray-400 font-normal"><span>680</span><i class="bi bi-people ms-2"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="h-56 bg-gray-200 dark:bg-gray-700 p-4 rounded-lg">
                        <div class="flex flex-col h-full items-center">
                            <div class="h-1/2">
                                <img src="https://cdn.britannica.com/33/4833-004-828A9A84/Flag-United-States-of-America.jpg" 
                                class="w-full aspect-video object-cover rounded-md hover:brightness-110 hover:drop-shadow-md dark:hover:grayscale-0 dark:grayscale duration-150" alt="Cambodia scholarship" />
                            </div>
                            <div class="h-1/2">
                                <div class="flex flex-col justify-center items-center">
                                    <div class="text-gray-700 dark:text-gray-300 mt-4 font-medium text-lg">United States</div>
                                    <div class="text-gray-700 dark:text-gray-400 font-normal"><span>250</span><i class="bi bi-people ms-2"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="h-56 bg-gray-200 dark:bg-gray-700 p-4 rounded-lg">
                        <div class="flex flex-col h-full items-center">
                            <div class="h-1/2">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/88/Flag_of_Australia_%28converted%29.svg/1200px-Flag_of_Australia_%28converted%29.svg.png" 
                                class="w-full aspect-video object-cover rounded-md hover:brightness-110 hover:drop-shadow-md dark:hover:grayscale-0 dark:grayscale duration-150" alt="Cambodia scholarship" />
                            </div>
                            <div class="h-1/2">
                                <div class="flex flex-col justify-center items-center">
                                    <div class="text-gray-700 dark:text-gray-300 mt-4 font-medium text-lg">Australia</div>
                                    <div class="text-gray-700 dark:text-gray-400 font-normal"><span>300</span><i class="bi bi-people ms-2"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="h-56 bg-gray-200 dark:bg-gray-700 p-4 rounded-lg">
                        <div class="flex flex-col h-full items-center">
                            <div class="h-1/2">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Flag_of_the_People%27s_Republic_of_China.svg/1920px-Flag_of_the_People%27s_Republic_of_China.svg.png" 
                                class="w-full aspect-video object-cover rounded-md hover:brightness-110 hover:drop-shadow-md dark:hover:grayscale-0 dark:grayscale duration-150" alt="Cambodia scholarship" />
                            </div>
                            <div class="h-1/2">
                                <div class="flex flex-col justify-center items-center">
                                    <div class="text-gray-700 dark:text-gray-300 mt-4 font-medium text-lg">China</div>
                                    <div class="text-gray-700 dark:text-gray-400 font-normal"><span>80</span><i class="bi bi-people ms-2"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="h-56 bg-gray-200 dark:bg-gray-700 p-4 rounded-lg">
                        <div class="flex flex-col h-full items-center">
                            <div class="h-1/2">
                                <img src="https://cdn.britannica.com/38/4038-050-BDDBA6AB/Flag-Thailand.jpg" 
                                class="w-full aspect-video object-cover rounded-md hover:brightness-110 hover:drop-shadow-md dark:hover:grayscale-0 dark:grayscale duration-150" alt="Cambodia scholarship" />
                            </div>
                            <div class="h-1/2">
                                <div class="flex flex-col justify-center items-center">
                                    <div class="text-gray-700 dark:text-gray-300 mt-4 font-medium text-lg">Thailand</div>
                                    <div class="text-gray-700 dark:text-gray-400 font-normal"><span>210</span><i class="bi bi-people ms-2"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="h-56 bg-gray-200 dark:bg-gray-700 p-4 rounded-lg">
                        <div class="flex flex-col h-full items-center">
                            <div class="h-1/2">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/800px-Flag_of_Singapore.svg.png" 
                                class="w-full aspect-video object-cover rounded-md hover:brightness-110 hover:drop-shadow-md dark:hover:grayscale-0 dark:grayscale duration-150" alt="Cambodia scholarship" />
                            </div>
                            <div class="h-1/2">
                                <div class="flex flex-col justify-center items-center">
                                    <div class="text-gray-700 dark:text-gray-300 mt-4 font-medium text-lg">Singapore</div>
                                    <div class="text-gray-700 dark:text-gray-400 font-normal"><span>50</span><i class="bi bi-people ms-2"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    -->
    <div class="flex flex-wrap items-center justify-center my-8 md:my-12 sticky bg-gray-50 dark:bg-gray-800">
        <button onclick="window.location.href='/'"
            type="button"
            class="text-blue-700 hover:text-white border border-blue-600 bg-white hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:bg-gray-900 dark:focus:ring-blue-800">
            All categories
        </button>
       
        {% for t in types %}
            {% if t.type == type_req %}
            <button onclick="window.location.href='{% url 'home_type' t.type %}'" type="button"
                class="text-white border border-white hover:border-gray-200 bg-blue-500 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 dark:text-white dark:focus:ring-white">
                {{ t.type }}
            </button>
            {% else %}
                <button onclick="window.location.href='{% url 'home_type' t.type %}'" type="button"
                    class="text-gray-900 border border-white hover:border-blue-400 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-blue-700 bg-white focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 dark:text-white dark:focus:ring-gray-800">
                    {{ t.type }}
                </button>
            {% endif %}
        {% empty %}
        {% endfor %}

        <button onclick="window.location.href='{% url 'scholarships' %}'" type="button"
            class="text-gray-900 border border-white hover:border-gray-200 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 dark:text-white dark:focus:ring-gray-800">
            Scholarship
        </button>
    </div>
    <!-- <div class="flex flex-row gap-2 lg:gap-8 justify-between px-4 bg-gray-50 dark:bg-gray-800"> -->
        <div class="w-full">
            <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-8 gap-4 ease-in items-center duration-300">
                {% for s in school_data %}
                    <div style="cursor: pointer;" class="relative hover:shadow shadow-md rounded-xl bg-gray-200 dark:bg-gray-900 group-hover:bg-blue-500"
                        onclick="window.location.href=`{% url 'schools:school-detail' s.pk %}`"
                        rel="noopener noreferrer" title="{{ s.name }}">
                        {% if s.logo %}
                            <img class="w-full p-4 md:p-8 object-cover rounded-lg hover:brightness-105 aspect-square" 
                            src="{{ s.logo.url }}" alt="{{ s.name|default:'School image' }}">
                        {% else %}
                            <div class="h-full w-full bg-gray-300/70 dark:bg-blue-500/70 flex items-center justify-center rounded-lg text-blue-400 dark:text-blue-500 text-2xl font-bold">
                                {{ s.short_name|slice:":1"|upper }}
                            </div>
                        {% endif %}
                        <div class="h4 bottom-0 px-2 pb-4 rounded-lg text-slate-700 dark:text-white text-md text-center lang-charset">
                            {% if request.LANGUAGE_CODE == 'en' %}
                                {{ s.name }}
                            {% else %}
                                {{ s.local_name }}
                            {% endif %}
                        </div>
                    </div>
                {% empty %}
                    <p class="text-gray-700 dark:text-blue-400 text-2xl text-center w-full">No schools available.</p>
                {% endfor %}
            </div>
        </div>
    <!-- </div> -->
    <div class="mt-6">

    </div>
</div>
{% endblock content %}
