{% extends '_base.html' %}
{% load i18n static %}

{% block title %}{{ page_title|default:'No title' }}{% endblock %}

{% block content %}
<div class="container mx-auto relative px-2 md:px-0">
  <div class="flex flex-row gap-2 lg:gap-8 justify-between px-4 bg-gray-50 dark:bg-gray-800">
    <div class="grow">
      <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-5 2xl:grid-cols-6 gap-4 ease-in items-center duration-300">
        {% for s in scholarships %}
          <a href="{% url 'schools:school-detail' s.pk %}" 
             class="relative hover:shadow shadow-md rounded-xl bg-gray-200 dark:bg-gray-900 group-hover:bg-blue-500"
             rel="noopener noreferrer" title="{{ s.name }}">
            {% if s.thumbnail %}
              <img class="w-full p-4 md:p-8 object-cover rounded-lg hover:brightness-105 aspect-square" 
                   src="{{ s.thumbnail.url }}" alt="{{ s.name|default:'School image' }}">
            {% else %}
              <div class="h-full w-full bg-gray-300/70 dark:bg-blue-500/70 flex items-center justify-center rounded-lg text-blue-400 dark:text-blue-500 text-2xl font-bold">
                {{ s.name|slice:":1"|upper }}
              </div>
            {% endif %}
            <div class="h4 bottom-0 px-2 pb-4 rounded-lg text-slate-700 dark:text-white text-md text-center lang-charset">
              {% if request.LANGUAGE_CODE == 'en' %}
                {{ s.name }}
              {% else %}
                {{ s.local_name }}
              {% endif %}
            </div>
          </a>
        {% empty %}
          <p class="text-gray-700 dark:text-blue-400 text-2xl text-center w-full">
            {% translate 'No scholarship available' %}
          </p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}