/* static/src/input.css */

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  @keyframes gradientBackground {
    0% {
      background-position: 25% 0%;
    }
    20% {
      background-position: 50% 75%;
    }
    40% {
      background-position: 75% 100%;
    }
    60% {
      background-position: 0% 25%;
    }
    80% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 25% 0%;
    }
  }

  .bg-gradient-animate {
    background: linear-gradient(270deg, #c7c8fc, #7bd9fe, #5fb2ff, #a2e1ff);
    background-size: 400% 400%;
    animation: gradientBackground 15s ease-in-out infinite;
  }
}


@font-face {
  font-family: 'Battambang-Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/static/css/fonts/Battambang-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Khmer-Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/static/css/fonts/Khmer-Regular.ttf') format('ttf');
}

  