{% extends './_base.html' %}
{% load static i18n %}

{% block title %}{{ title }}{% endblock %}

{% block styles %}
<style>
    @keyframes glow {
        0%, 100% {
            box-shadow: 0 0 10px rgba(59, 130, 246, 0.6), 0 0 20px rgba(59, 130, 246, 0.4);
        }
        50% {
            box-shadow: 0 0 20px rgba(59, 130, 246, 1), 0 0 40px rgba(59, 130, 246, 0.8);
        }
    }
    
    .animate-glow {
        animation: glow 2s infinite;
        border-width: 4px;
    }

    .blur-gradient-bg::before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.9) 100%);
        backdrop-filter: blur(1px);
        -webkit-backdrop-filter: blur(10px); 
        pointer-events: none; 
        z-index: -1; 
        border-radius: inherit;
    }
    
    </style>
{% endblock styles %}
    

{% block content %}
<!-- Background Cover Image -->
<div class="m-0 flex justify-center items-center z-10">
    <div class="max-w-screen-xl ">
        <div class="row items-center">
            <div id="header" class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg mb-8">
                <div class="relative max-h-60 rounded-lg" style="background: url('{% if school.cover_image %}{{ school.cover_image.url }}{% else %} {% endif %}') center/cover no-repeat; width: 100%; max-height: 500px; min-height: 460px;">
                    <div  class="absolute blur-gradient-bg w-full flex flex-col md:flex-row items-center space-x-4 md:space-x-32 modal-ux-header px-8 pb-0 left-0 bottom-0 translate-x-0 rounded-lg shadow-lg">
                        <!-- LOGO -->
                        <div id="logo-container" class="">
                            <div class="flex flex-col items-center">
                                <div id='logo' class="w-full relative mb-4">
                                    {% if school.logo %}
                                        <img class="object-cover border-4 border-blue-500 dark:border-blue-400 h-48 w-48 rounded-full drop-shadow-lg animate-glow" src="{{ school.logo.url }}" alt="{{ school.name }} - {{ school.local_name }}">
                                    {% else %}
                                        <div class="object-cover h-48 w-48 rounded-full">{{ school.name|upper|slice:":2"}}</div>
                                    {% endif %}
                                </div>
                                <div class="py-0 md:py-6 text-gray-500 dark:text-gray-400 lang-charset"></div>
                            </div>
                        </div>
                    
                        <!-- Header -->
                        <div class="p-6 rounded-lg">
                            <a href="#" class="bg-red-100 text-red-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded-md dark:bg-red-700 dark:text-red-400 mb-2">
                                <svg class="w-2.5 h-2.5 me-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18">
                                    <path d="M17 11h-2.722L8 17.278a5.512 5.512 0 0 1-.9.722H17a1 1 0 0 0 1-1v-5a1 1 0 0 0-1-1ZM6 0H1a1 1 0 0 0-1 1v13.5a3.5 3.5 0 1 0 7 0V1a1 1 0 0 0-1-1ZM3.5 15.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2ZM16.132 4.9 12.6 1.368a1 1 0 0 0-1.414 0L9 3.55v9.9l7.132-7.132a1 1 0 0 0 0-1.418Z"/>
                                </svg>
                                {% if school.short_name %} 
                                {{ school.short_name }} 
                                {% endif %}
                            </a>
                            <h2 id="header-title" class="text-white text-3xl font-extrabold my-2 md:my-4 lang-charset">
                                {% if request.LANGUAGE_CODE == 'en' %}
                                    {{ school.name }} 
                                {% else %}
                                    {{ school.local_name }} 
                                {% endif %}
                            </h2>
                            <div class="flex flex-col justify-start"> 
                                <div>
                                    {% for item in school.educational_levels.all %}
                                        <span class="bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">{{ item.level_name }}</span>
                                    {% empty %}
                                    {% endfor %}
                                </div>
                            </div>                                                       
                        </div>
                    </div>                
                </div>
            </div>
            <div class="mb-4 border-b border-gray-200 dark:border-gray-700 z-10">
                <ul class="flex flex-wrap -mb-px text-sm font-medium text-center">
                    <li class="me-2" role="presentation">
                        <button class="inline-block p-4 border-b-2 rounded-t-lg text-gray-700 dark:text-gray-200" id="about-tab" data-tabs-target="#about" type="button" role="tab" aria-controls="about" aria-selected="false">{% translate "About" %}</button>
                    </li>
                </ul>
            </div>
            
            <section class="bg-white dark:bg-gray-900">
                <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-12">
                    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
                        <div class="col-auto md:col-span-2 max-w-full bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-4 md:p-6">
                            <a href="#" class="bg-green-100 text-green-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded-md dark:bg-gray-700 dark:text-green-400 mb-2">
                                <svg class="w-2.5 h-2.5 me-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18">
                                    <path d="M17 11h-2.722L8 17.278a5.512 5.512 0 0 1-.9.722H17a1 1 0 0 0 1-1v-5a1 1 0 0 0-1-1ZM6 0H1a1 1 0 0 0-1 1v13.5a3.5 3.5 0 1 0 7 0V1a1 1 0 0 0-1-1ZM3.5 15.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2ZM16.132 4.9 12.6 1.368a1 1 0 0 0-1.414 0L9 3.55v9.9l7.132-7.132a1 1 0 0 0 0-1.418Z"/>
                                </svg>
                                {{ school.type.all|first }}
                            </a>
                            <h2 class="text-gray-900 dark:text-white text-xl font-extrabold mb-2 lang-charset">
                              {% translate "Story Of" %} {% if request.LANGUAGE_CODE == 'en' %} {{ school.name }} {% else %} {{ school.local_name }} {% endif %}
                            </h2>
                            <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-4 lang-charset">{{ school.description }}</p>
                            {% for p in platform_profiles %}
                                {% if p.platform.name|lower == "website" %}
                                    <a href="{{ p.profile_url }}" target="_blank" class="text-blue-600 dark:text-blue-500 hover:underline font-medium text-lg inline-flex items-center">
                                        Read more
                                        <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                                        </svg>
                                    </a>
                                {% endif %}
                            {% empty %}
                            
                            {% endfor %}                        
                            <!-- Footer -->
                            <div class=" mt-6 bg-white rounded-lg dark:bg-gray-800" id="statistics" role="tabpanel" aria-labelledby="statistics-tab">
                                <dl class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 text-gray-900 dark:text-white">
                                    <div class="flex flex-col">
                                        <dt class="mb-2 text-xl font-extrabold">{{ school.founder }}</dt>
                                        <dd class="text-gray-500 dark:text-gray-400">{% translate 'Founder' %}</dd>
                                    </div>
                                    <div class="flex flex-col">
                                        <dt class="mb-2 text-xl font-extrabold lang-charset">{{ school.established }}</dt>
                                        <dd class="text-gray-500 dark:text-gray-400">{% translate 'Established' %}</dd>
                                    </div>
                                    <div class="flex flex-col">
                                        <dt class="mb-2 text-xl font-extrabold">{{ school.president }}</dt>
                                        <dd class="text-gray-500 dark:text-gray-400">{% translate 'President' %}</dd>
                                    </div>
                                </dl>
                            </div>                            
                        </div>
                        <div class=" bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-4 md:p-6 w-full md:max-w-sm">
                            <h2 class="text-gray-900 dark:text-white text-xl font-medium lang-charset mb-2">{% translate 'Profiles' %}</h2>
                            <div class="mb-4">
                            <div class="flex space-x-4 mb-4">
                                {% for profile in platform_profiles %}
                                <a href="{{ profile.profile_url }}" target="_blank" title="{{ profile.username }}"
                                    class="transition-all duration-300 hover:scale-105">
                                    <img
                                    src="https://www.google.com/s2/favicons?sz=64&domain_url={{ profile.platform.url }}"
                                    class="w-10 h-10 border-2 rounded-full 
                                            hover:border-blue-500 
                                            dark:border-gray-800 
                                            dark:hover:border-blue-200 
                                            dark:grayscale dark:hover:grayscale-0"
                                    alt="{{ profile.platform.name }}">
                                </a>
                                {% empty %}
                                <span class="text-sm text-gray-400 dark:text-gray-500">{% translate 'No profiles available.' %}</span>
                                {% endfor %}
                            </div>
                            <div class="flex flex-wrap gap-2">
                                {% for btn in school.custom_buttons.all %}
                                    {% if btn.is_visible %}
                                        <a href="{{ btn.link }}" 
                                        class="inline-flex items-center gap-2 hover:scale-105 rounded-xl px-4 py-2 text-sm font-semibold shadow-md transition-all duration-150 ease-in-out hover:opacity-90 focus:outline-none focus:ring-2 focus:ring-offset-2"
                                        style="background-color: {{ btn.color }}; color: {{ btn.text_color }};">
                                            {% if btn.icon %}
                                                <i class="{{ btn.icon }} text-base"></i>
                                            {% endif %}
                                            {{ btn.name }}
                                        </a>
                                    {% endif %}
                                {% empty %}
                                    <p class="text-gray-500 dark:text-gray-400 text-sm italic">{% translate "No custom buttons available." %}</p>
                                {% endfor %}
                            </div>
                            </div>

                            <!-- 
                            <a href="#" class="text-blue-600 dark:text-blue-500 hover:underline font-medium text-lg inline-flex items-center">Redirect to
                                <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                                </svg>
                            </a>
                            -->
                        </div>
                    </div>
                </div>
            </section>                        
        </div>
    </div>
    <hr>
    <div class="row">
        {% if related_items %}
        <h3 class="text-xl font-semibold mb-2">{% translate "You might also like" %}</h3>
        <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
            {% for item in related_items %}
            <a href="{{ item.get_absolute_url }}" class="block rounded-lg shadow-md p-4 bg-white dark:bg-gray-900 hover:shadow-lg transition">
                <h4 class="text-md font-bold">{{ item.name }}</h4>
                <p class="text-sm text-gray-600 dark:text-gray-300">{{ item.local_name }}</p>
            </a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}


{% block scripts %}
<script> 
    const PAGE_NAME = "{{ page_name }}";
</script>
{% endblock scripts %}


{% block dock %}
    
{% endblock dock %}
    
    
    